@font-face {
  font-family: "Barlow";
  font-weight: 600;
  font-style: normal;
  src: url(/sunnyside-agency-landing-page/fonts/Barlow-SemiBold.ttf);
}

@font-face {
  font-family: "Fraunces";
  font-weight: 700;
  font-style: normal;
  src: url(/sunnyside-agency-landing-page/fonts/Fraunces_9pt-Bold.ttf);
}
@font-face {
  font-family: "Fraunces";
  font-weight: 900;
  font-style: normal;
  src: url(/sunnyside-agency-landing-page/fonts/Fraunces_9pt-Black.ttf);
}

:root {
  /* Palette */
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  --dark-moderate-cyan: hsl(168, 34%, 41%);
  --desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --dark-blue: hsl(198, 62%, 26%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);

  /* Fonts */
  --ff-barlow: "Barlow", Arial, Helvetica, sans-serif;
  --ff-fraunces: "Fraunces", system-ui, -apple-system, "Segoe UI", sans-serif;
  --ff-headings: var(var(--ff-fraunces));
  --ff-base: var(var(--ff-barlow));
}

html,
body {
  font-family: "Barlow";
  font-weight: 600;
}

h1,
h2,
h3 {
  font-family: var(--ff-headings);
}

/* Utility classes */
.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}

.grid-column {
  display: grid;
  grid-template-columns: 1fr;
}
