@font-face {
  font-family: "Barlow";
  font-weight: 600;
  font-style: normal;
  src: url(/sunnyside-agency-landing-page/fonts/Barlow-SemiBold.ttf);
}

@font-face {
  font-family: "Fraunces";
  font-weight: 700;
  font-style: normal;
  src: url(/sunnyside-agency-landing-page/fonts/Fraunces_9pt-Bold.ttf);
}
@font-face {
  font-family: "Fraunces";
  font-weight: 900;
  font-style: normal;
  src: url(/sunnyside-agency-landing-page/fonts/Fraunces_9pt-Black.ttf);
}

:root {
  /* Palette */
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  --dark-moderate-cyan: hsl(168, 34%, 41%);
  --desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --dark-blue: hsl(198, 62%, 26%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);

  /* Fonts */
  --ff-barlow: "Barlow", Arial, Helvetica, sans-serif;
  --ff-fraunces: "Fraunces", system-ui, -apple-system, "Segoe UI", sans-serif;
  --ff-headings: var(--ff-fraunces);
  --ff-button: var(--ff-fraunces);
  --ff-base: var(--ff-barlow);

  /* Font sizes */
  --fs-090: 15px;
  --fs-100: 16px;
  --fs-200: 18px;

  --fs-900: 56px;

  /* Line heights */
  --lh-300: 25px;

  /* Layers */
  --bg-layer: -1;
  --content-layer: auto;
  --navbar-layer: 1;
  --dialog-layer: 2;
}

html,
body {
  font-family: "Barlow";
  font-weight: 600;
  font-size: 18px;
}

h1,
h2,
h3 {
  font-family: var(--ff-headings);
}

/* Utility classes */
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}

.grid-1-column {
  display: grid;
  grid-template-columns: 1fr;
}

.grid-2-column {
  display: grid;
  grid-template-columns: 2fr;
}
