---
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import ImagesGrid from "../components/ImagesGrid.astro";
import Header from "../components/Navbar.astro";
import Services from "../components/Services.astro";
import Testimonials from "../components/Testimonials.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Frontend Mentor | Sunnyside agency landing page">
	<Header />
	<main>
		<Hero />

		<Services />

		<Testimonials />

		<ImagesGrid />
	</main>
	<Footer />
</Layout>

<style>
	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
</style>
