---
import Figure from "./Figure.astro";
---

<section class="flex-column justify-center items-center">
    <picture>
        <source
            srcset="/sunnyside-agency-landing-page/images/desktop/image-header.jpg"
            media="(min-width: 1440px)"
        />
        <img
            src="/sunnyside-agency-landing-page/images/mobile/image-header.jpg"
            alt=""
        />
    </picture>
    <h1>We are creatives</h1>
    <Figure name="icon-arrow-down" />
</section>

<style>
    section {
        height: 800px;
        color: white;
    }

    picture {
        position: absolute;
        z-index: -1;
    }
    @media (min-width: 1440px) {
        section {
        }
    }
</style>
