---
import ImageBox from "./ImageBox.astro";
import ImageCard from "./ImageCard.astro";
import ServiceCard from "./ServiceCard.astro";

const darkBlue = "hsl(198, 62%, 26%)";
const darkDesaturatedCyan = "hsl(167, 40%, 24%)";
const softRed = "hsl(7, 99%, 70%)";
const yellow = "hsl(51, 100%, 49%);";
---

<section>
    <div class="card-1">
        <ImageBox shortName="transform" />
    </div>

    <div class="card-2">
        <ServiceCard
            title="Transform your brand"
            content={`We are a full-service creative agency specializing in helping brands grow fast. Engage your clients through compelling visuals that do most of the marketing for you.`}
            underlineColor={yellow}
        />
    </div>

    <div class="card-3">
        <ImageBox shortName="stand-out" />
    </div>

    <div class="card-4">
        <ServiceCard
            title="Stand out to the right audience"
            content={`Using a collaborative formula of designers, researchers, photographers, videographers, and copywriters, we\'ll build and extend your brand in digital places.`}
            underlineColor={softRed}
        />
    </div>

    <div class="card-5">
        <ImageCard
            title="Graphic design"
            content={`Great design makes you memorable. We deliver artwork that underscores your brand message and captures potential clients' attention.`}
            background="graphic-design"
            textColor={darkDesaturatedCyan}
        />
    </div>

    <div class="card-6">
        <ImageCard
            title="Photography"
            content={`Increase your credibility by getting the most stunning, high-quality photos that improve your business image.`}
            background="photography"
            textColor={darkBlue}
        />
    </div>
</section>

<style>
    section {
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    @media (min-width: 1440px) {
        .card-1 {
            order: 2;
        }
        .card-2 {
            order: 1;
        }
        .card-3 {
            order: 3;
        }
        .card-4 {
            order: 4;
        }
        .card-5 {
            order: 5;
        }
        .card-6 {
            order: 6;
        }
        section {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
</style>
